.braille-container {
	
	width: 210px;
	margin: 10px auto;
	
    display: grid;
    grid-template-columns: repeat(2,100px);  /* 3 columns */
    grid-template-rows: repeat(3,100px); /* 3 rows  */
    grid-gap:10px 10px; 

    border-width: 3px;
    border-color: black;
   
    

}

.dot-blue {
    
	padding: 10px;
	font-size: 20px;
	font-family: sans-serif;
	color: rgb(230, 8, 8);
    
    border-width: 3px;
    border-color: blue;
    background-color: blue;
    border-radius: 40px;

    color: #444;
    text-shadow: 0 0 2px #000;
    padding: 20px 10px 10px 0;
    
}

.dot-black {
	padding: 10px;
	font-size: 20px;
	font-family: sans-serif;
	color: rgb(230, 8, 8);
    border-width: 3px;
    border-color: black;
    background-color: black;
    border-radius: 40px;
    
}