.navbar {
    display: flex;
	font-size: 40px;
	font-family: sans-serif;
	color: #ccc92e;

    background-color: black;
    width: 80%;
    height: 55px;
    align-items: center;
    justify-content: center;
    margin: 8px auto;
    margin-top: 10px;
    margin-left: 0 px;
}