.plaintext-box {
    display: flex;
	font-size: 30px;
	font-family: sans-serif;
	color: black;

    background-color: #ccc92e;
    width: 80%;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 8px auto;
    margin-top: 3px;
    margin-left: 0 px;

}